doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Node Hello world example
    style
      include ../style.css
  body
    .signIncontent
      h1 Witaj na naszej stronie #{user}!
      iframe(width='854', height='480', src='https://www.youtube.com/embed/H-IVzFIRSVE?list=RDH-IVzFIRSVE')